<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>

<div class="card">
<a href="/metrics">
  <div class="container">
    <h4><b>Metrics</b></h4> 
    <p>View completion metrics</p> 
  </div>
</a>
</div>


<div class="card">
        <a href="allocate">
<div class="container">
    <h4><b>Allocations</b></h4> 
    <p>See who's reviewing what</p> 
</div>
</a>
</div>

<div class="card">
  <a href="users">
<div class="container">
<h4><b>Users</b></h4> 
<p>View your team</p> 
</div>
</a>
</div>

</body>
</html> 